body{
    font-family:'Times New Roman', Times, serif;
    color:white;
    margin:25px;
}
:root {
    --main-color:#1c2541;
    --stuff-color:#0b132b;
    --light-color:#3a506b;
    --edge-color:#fca311;
    --margin-size:8px;
    --max-width:1000px;
}
a:link, a:hover{
    color:white;
}
a:visited, a:hover{
    color:var(--light-color);
}
li::marker{
    color:var(--edge-color);
}
ul{
    margin-left: -15px;
}
.posters{
    width:160px;
    height:240px;
}
.albums{
    width:160px;
    height:160px;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:var(--main-color);
    height:50px;
    max-width: var(--max-width);
    margin: 0 auto;
    letter-spacing:13px;
    transition: color 1s;
}
.title:hover{
    color:var(--main-color);
}
.divider{
    max-width: var(--max-width);
    margin: 0 auto;
}
.box{
    display: flex;
}
.left{
    width:15%;
}
.center{
    width:60%;
    margin-left:var(--margin-size);
}
.right{
    width:25%;
    margin-left:var(--margin-size);
}
.border{
    display:flex;
    align-items: end;
    padding:3px;
    border-style: outset;
    border-width: 4px;
    background:var(--main-color);
    border-color:var(--light-color);
    margin-top:var(--margin-size);
}
.stuff{
    padding:25px;
    background:var(--stuff-color);
}
.edge{
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top:var(--margin-size);
    display:flex;
    justify-content:center;
    border-style:solid;
    border-width: 4px;
    color:var(--main-color);
}